<a href="https://colab.research.google.com/github/Amos0707/python/blob/main/9_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Sets in Python**:

- A Set in Python programming is an unordered collection data type that is iterable and has no duplicate elements.

- Set is defined using curly braces {} or the set() function.

- The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.

- Sets are used to store multiple elements in a single variable.

- Sets provide a variety of methods for performing common set operations like UNION, INTERSECTION, DIFFERENCE and SYMMETRIC DIFFERENCE.

**Creating Sets**:

In [1]:
#Creating an empty set
#empty_set = set()

#Creating a Set of elements
cars = {"BMW", "Audi", "Mercedes"}
print(cars)
print(type(cars))

{'BMW', 'Audi', 'Mercedes'}
<class 'set'>

In [2]:
#Converting list to a set
a = [1, 2, 3, 4, 5, 6]
print(set(a))

{1, 2, 3, 4, 5, 6}

In [3]:
#Set is a collection of unique elements it removes duplicates and it is unordered
num = {9,61,5,45,8,6,2,1,2,3,35,4,8,7,6,48,7,5,4,2,3,6,5,9,8,5,4,72,5,2,5,6,8,9,5,3,2}
print(num)

{1, 2, 3, 35, 5, 6, 4, 8, 9, 7, 72, 45, 48, 61}

**Add or Update Set Items in Python**

- Sets are mutable, you can add or remove elements after their creation.

- We cannot assign or change value once the set is created.

- The individual elements within the set must be immutable and cannot be changed directly.

- We cannot access or change elements in set using indexing or slicing.

- Set data type does not support it.

**1. Add item to a set**:

- In python we use add() method.

- Only one argument should be given to add a new element or item

In [4]:
cars = {"BMW", "Audi", "Mercedes"}
print("Initial Set:", cars)
newitem = cars.add("Porsche")
print("New Set:", cars)

Initial Set: {'BMW', 'Audi', 'Mercedes'}
New Set: {'BMW', 'Porsche', 'Audi', 'Mercedes'}

In [5]:
num = {9,61,5,45,8,6,2,1,2,3,35,4,8,7,6,48,7,5,4,2,3,6,5,9,8,5,4,72,5,2,5,6,8,9,5,3,2}
print("Initial Num:", num)
newnum = num.add(100)
print("New Num:", num)

Initial Num: {1, 2, 3, 35, 5, 6, 4, 8, 9, 7, 72, 45, 48, 61}
New Num: {1, 2, 3, 35, 5, 6, 4, 8, 9, 7, 72, 100, 45, 48, 61}

2. Update Set:

- Update() method takes any number of argument.

- The arguments can be a set, list, tuples or a dictionary.

- It automatically converts into a set and adds to the set

In [6]:
empdetails = {"Dave", "Male"}
newdetails = {"Age: 35", "Ph.no: 9876543210", "abc123@gmail.com", "Developer"}
update_details = empdetails.update(newdetails)
print(empdetails)

{'Male', 'Developer', 'Ph.no: 9876543210', 'abc123@gmail.com', 'Age: 35', 'Dave'}

Remove an element from a Set:

- We use discard() or remove() method to remove specified element from a set.

In [7]:
#here we use remove() method
jobroles = {"Data Scientist", "Analyst", "Engineer"}
print(jobroles)
rmvrole = jobroles.remove("Engineer")
print(jobroles)

{'Engineer', 'Data Scientist', 'Analyst'}
{'Data Scientist', 'Analyst'}

In [8]:
#here we use discard() method
jobroles = {"Data Scientist", "Analyst", "Engineer"}
print(jobroles)
rmvrole = jobroles.discard("Data Scientist")
print(jobroles)

{'Engineer', 'Data Scientist', 'Analyst'}
{'Engineer', 'Analyst'}

Python Set Operations:

- Python sets provides different built-in methods to perform mathematical operations like union, intersection, subtraction, and symmetric difference.

1. Union of two sets

- The union of two sets A and B include all the elements of Set A and Set B.
Combines elements of two sets removing duplicates.

- It is defined using | operator or union().

In [9]:
#using | operator
SetA = {1,2,3,4,5}
SetB = {3,4,5,6,7,8,9}
print("SetA:", SetA)
print("SetB:", SetB)
SetC = SetA | SetB
print("SetA | SetB:",SetC)

SetA: {1, 2, 3, 4, 5}
SetB: {3, 4, 5, 6, 7, 8, 9}
SetA | SetB: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
#Using union()
SetA = {1,2,3,4,5}
SetB = {3,4,5,6,7,8,9}
print("SetA:", SetA)
print("SetB:", SetB)
SetC = SetA.union(SetB)
print("SetA.union(SetB):",SetC)

SetA: {1, 2, 3, 4, 5}
SetB: {3, 4, 5, 6, 7, 8, 9}
SetA.union(SetB): {1, 2, 3, 4, 5, 6, 7, 8, 9}

2. Intersection of two Sets:

-
- It is defined using intersection() or & operator.

- Common elements between two sets A and B
.
- Return the common elements between two sets.

In [11]:
#using & operator
SetA = {1,2,3,4,5}
SetB = {3,4,5,6,7,8,9}
print("SetA:", SetA)
print("SetB:", SetB)
SetC = SetA & SetB
print("SetA & SetB:",SetC)

SetA: {1, 2, 3, 4, 5}
SetB: {3, 4, 5, 6, 7, 8, 9}
SetA & SetB: {3, 4, 5}

In [12]:
#using intersection
SetA = {1,2,3,4,5}
SetB = {3,4,5,6,7,8,9}
print("SetA:", SetA)
print("SetB:", SetB)
SetC = SetA.intersection(SetB)
print("SetA.intersectionSetB:",SetC)

SetA: {1, 2, 3, 4, 5}
SetB: {3, 4, 5, 6, 7, 8, 9}
SetA.intersectionSetB: {3, 4, 5}

3. Difference between two sets:

- It is defined using A âˆ’ B or difference() operator.

- Contains those elements of SetA that are NOT in SetB.
Returns the elements of SetA but not SetB.

In [13]:
#using - operator
SetA = {1,2,3,4,5}
SetB = {3,4,5,6,7,8,9}
print("SetA:", SetA)
print("SetB:", SetB)
SetC = SetA - SetB
print("SetA - SetB:",SetC)
print("\n")
#similarly goes with SetB - SetA
SetA = {1,2,3,4,5}
SetB = {3,4,5,6,7,8,9}
print("SetB:", SetB)
print("SetA:", SetA)
SetC = SetB - SetA
print("SetB - SetA:",SetC)

SetA: {1, 2, 3, 4, 5}
SetB: {3, 4, 5, 6, 7, 8, 9}
SetA - SetB: {1, 2}


SetB: {3, 4, 5, 6, 7, 8, 9}
SetA: {1, 2, 3, 4, 5}
SetB - SetA: {8, 9, 6, 7}