<a href="https://colab.research.google.com/github/Amos0707/python/blob/main/Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*What are variables?*
* Variables are containers for storing data values.

**Creating a variables**?

 * Python has no command for declaring a variable.

 * A variable is created the moment you first assign a value to it.


Example:

>>> spam = 40

>>> spam

>>> 40




# spam is  a variablel name & spam is container for storing a datavalue like 40.

**Rules for creating variables name.**

* Use letters, digits, and underscores (_), but donâ€™t start with a digit (e.g., my_var1 is valid, but 1st_var is not).

* Variable names are case-sensitive (myVar and myvar are different).

* Avoid using reserved keywords like if, else, for, etc.
  
* Use descriptive names for clarity (e.g., total_amount instead of ta).

* Prefer lowercase with underscores for multi-word names (e.g., first_name).

* Avoid using single-character names except for simple loop counters (i, j).

* Avoid naming variables after built-in functions (e.g., list, str).

In [ ]:
a = 56
b = 45.90
print(a)
print(b)

56
45.9

In [ ]:
# case-sensitive
my_var =10    # Decalre the lower case with under score.
MY_VAR ="HI"    # Decalre the upper case with under score.
print(my_var)
print(MY_VAR)

10
HI

In [ ]:
# You can get the data type of a variable with the type() function.
print(type(my_var))
print(type(MY_VAR))
print(type(b))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
# Illegal variable names.
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (<ipython-input-9-e56264917c4c>, line 2)

In [ ]:
# many values to multiple values.
#Python allows you to assign values to multiple variables in one line:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
#one value to multiple value Assign.
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

**Built-in Data Types**

* In programming, data type is an important concept.

* Variables can store data of different types, and different types can do different things.

* Python has the following data types built-in by default, in these categories:


Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset


Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

In [5]:
# Data Types:
 #In python we have a Data types. They Are Int, Float , Strting, Boolean.
 #Int datatype mean it have number /intergers(1,2,3,---------------------------0-1,-2,-3)
c= 12
print(type(c))
x = "Hello World"	#str
x = 20	#int
x = 20.5	#float
x = 1j	#complex
x = ["apple", "banana", "cherry"]	#list
x = ("apple", "banana", "cherry")	#tuple
x = range(6)	#range
x = {"name" : "John", "age" : 36}	#dict
x = {"apple", "banana", "cherry"}	#set
x = frozenset({"apple", "banana", "cherry"})	#frozenset
x = True	#bool
x = b"Hello"	#bytes
x = bytearray(5)	#bytearray
x = memoryview(bytes(5))	#memoryview
x = None    #nonetype

<class 'int'>

Float Datatype